@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/mapbox-gl/dist/mapbox-gl";
@import "../../node_modules/swiper/swiper-bundle";
@import "global/variables";
@import "global/mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/scafoldings";
@import "blocks/page";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/main-nav";
@import "blocks/search";
@import "blocks/search-form";
@import "blocks/lang";
@import "blocks/footer";
@import "blocks/hero";
@import "blocks/news";
@import "blocks/vr";
@import "blocks/collection";
@import "blocks/error-page";
@import "blocks/section-map";
@import "blocks/breadcrumbs";
@import "blocks/textpage";
@import "blocks/video";
@import "blocks/download";
@import "blocks/search-page";
// @import "blocks/accordion";
// @import "blocks/tabs";

body {
  margin: 0;
  padding: 0;
}

// body::-webkit-scrollbar {
//   width: 2px;
// }

// body::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
// }

// body::-webkit-scrollbar-thumb {
//   background-color: darkgrey;
//   outline: 1px solid slategrey;
// }

#map {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  width: 100%;
  min-height: 955px;
}

.map {
  display: flex;
  position: relative;
}

// a.mapboxgl-ctrl-logo,
// .mapboxgl-ctrl-attrib-inner,
// .mapboxgl-ctrl-bottom-right {
//   opacity: 0;
// }

.mapboxgl-popup {
  animation: fromleft 0.5s ease forwards;
  transform: none !important;
  top: auto;
  bottom: 0;
  left: 0;
  // height: 400px;
  width: 34%;
  max-width: unset !important;
  padding: 0;
  z-index: 3;

  @media (max-width: 1200px) {
    width: 75%;
  }

  @media (max-width: 767px) {
    width: 100%;
    top: 100px;
  }
}

.mapboxgl-popup-content {
  height: 100%;
  text-align: left;
  border-radius: 0;
  padding: 0;
}

.mapboxgl__custom-content {
  height: 100%;
  max-height: 600px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f9fb;
    // box-shadow: inset 0 0 0 1px #0aa9be;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0aa9be;
    border-radius: 2px;
  }
}

.mapboxgl__custom-content-text {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  font-family: "Montserrat", serif;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  color: #000000;

  table {
    border-collapse: collapse;
    vertical-align: top;

    tr {
      vertical-align: top;

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
    }

    td {
      font-size: 18px;
      line-height: 32px;

      p {
        margin-top: 0;
      }

      &:first-of-type {
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;

        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 18px;
        }
      }
      @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  h2 {
    font-family: $s-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: 767px) {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 18px;

    h2 {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.mapboxgl__custom-content-links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  margin-top: 70px;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
}

.mapboxgl__custom-content-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.05em;
  background-color: #694484;
  color: #ffffff;
  border: 2px solid #694484;
  transition: $transition;
  outline: none;

  &:hover {
    background-color: #fff;
    color: #694484;
  }

  &--invert {
    background-color: #fff;
    color: #694484;

    &:hover {
      background-color: #694484;
      color: #fff;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    font-size: 15px;
    line-height: 16px;
  }
}

.mapboxgl-ctrl-top-right {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  pointer-events: all;
}

.mapboxgl-ctrl-group {
  margin-bottom: auto;
}

.mapboxgl-ctrl-group .mapboxgl-ctrl-compass {
  display: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  padding-right: 14px;
  border-radius: 50%;
  left: auto;
  top: auto;
  right: -25px;
  bottom: 100px;
  background-color: #fff;
  background-image: url();
  outline: none;

  @media (max-width: 767px) {
    width: 27px;
    height: 27px;
    top: -13px;
    right: 20px;
    transform: rotate(-90deg);
    padding-right: 7px;

    svg {
      width: 5px;
    }
  }
}

@keyframes fromright {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fromleft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.mapboxgl-popup-close-button:hover {
  background-color: #fff;
}

.marker {
  background-image: url("mapbox-icon.png");
  background-size: contain;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;

  @media (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}

.museum {
  background-color: #af67ed;
  background-image: url("../images/museum.svg");
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: 22px;

  @media (max-width: 767px) {
    background-size: 18px;
  }
}

.bonfire {
  background-color: #eea83e;
  background-image: url("../images/bonfire.svg");
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: 18px;

  @media (max-width: 767px) {
    background-size: 16px;
  }
}

.place {
  background-color: #57e3ec;
  background-image: url("../images/place.svg");
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: 15px;

  @media (max-width: 767px) {
    background-size: 12px;
  }
}

.media-center {
  background-image: url("../images/media-centr-icon.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;

  // @media (max-width: 767px) {
  //   background-size: 18px;
  // }
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl__custom-content {
  position: relative;
  z-index: 2;

  &--museum {
    .mapboxgl__custom-content-head {
      background-image: url("../images/popup-bg-museum.png");
      background-size: cover;

      h3 {
        color: #694484;
      }
    }

    .mapboxgl__custom-content-text {
      h2 {
        color: #694484;
      }
    }

    table {
      td {
        &:first-of-type {
          color: #694484;
        }
      }
    }
  }

  &--place {
    .mapboxgl__custom-content-head {
      background-image: url("../images/popup-bg-museum.png");
      background-size: cover;

      h3 {
        color: #0b7d8c;
      }
    }

    .mapboxgl__custom-content-text {
      h2 {
        color: #0b7d8c;
      }
    }

    table {
      td {
        &:first-of-type {
          color: #0b7d8c;
        }
      }
    }
  }

  &--bonfire {
    .mapboxgl__custom-content-head {
      background: #fffaec;

      h3 {
        color: #c49f3c;
      }
    }

    .mapboxgl__custom-content-text {
      h2 {
        color: #c49f3c;
      }
    }

    table {
      td {
        &:first-of-type {
          color: #c49f3c;
        }
      }
    }
  }

  &--media-center {
    .mapboxgl__custom-content-head {
      background: #fffaec;

      h3 {
        color: #69da75;
      }
    }

    .mapboxgl__custom-content-text {
      h2 {
        color: #69da75;
      }
    }

    table {
      td {
        &:first-of-type {
          color: #69da75;
        }
      }
    }
  }

  &-head {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 40px;

    h3 {
      font-family: "aliceregular", sans-serif;
      font-weight: normal;
      margin: 0;
      font-size: 38px;
      line-height: 43px;

      color: #694484;
    }

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      /* or 178% */

      color: #000000;
    }

    @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;

      h3 {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 24px;
      }

      p {
        margin: 0;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

#menu {
  // background: #fff;
  // position: absolute;
  // z-index: 1;
  // bottom: 10px;
  // right: 10px;
  // border-radius: 3px;
  // width: 320px;
  // border: none;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none;
}

.filter {
  pointer-events: all;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.filter__btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  color: #5896a3;
  transition: $transition;
  background-color: #fff;

  &--active {
    justify-content: flex-start;
    padding-left: 13px;
    margin-right: -25px;

    svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    border-color: #fff;
    background-color: #72c8df;
    color: #fff;
  }

  @media (max-width: 767px) {
    width: 27px;
    height: 27px;

    svg {
      width: 5px;
    }

    &--active {
      justify-content: flex-start;
      padding-left: 5px;
      margin-right: -13px;
    }
  }
}

.filter__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  width: 328px;
  padding: 25px;
  text-decoration: none;
  background: #3399ab;
  border: 3px solid #ffffff;
  text-align: center;
  transform: translateX(100%) scaleX(0);
  opacity: 0;
  position: absolute;
  transition: all 0.1s ease;

  &--active {
    transform: translateX(0) scaleX(1);
    position: relative;
    opacity: 1;
  }

  @media (max-width: 767px) {
    width: 245px;
    padding: 20px;
    border-width: 1px;
  }
}

.filter__item {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  color: #e1fcff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;

  &--place {
    color: #e1fcff;
  }

  &--museum {
    color: #f4e9ff;
  }

  &--bonfire {
    color: #fffaec;
  }

  &:last-child {
    justify-content: flex-end;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.6);
  }

  @media (max-width: 767px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    &:last-child {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.filter__item-icon {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  &--place {
    background-color: #57e3ec;
    background-image: url("../images/place.svg");
    background-size: 16px;

    @media (max-width: 767px) {
      background-size: 12px;
    }
  }

  &--museum {
    background-color: #af67ed;
    background-image: url("../images/museum.svg");
    background-size: 24px;

    @media (max-width: 767px) {
      background-size: 18px;
    }
  }

  &--bonfire {
    background-color: #eea83e;
    background-image: url("../images/bonfire.svg");
    background-size: 20px;

    @media (max-width: 767px) {
      background-size: 16px;
    }
  }

  &--media-center {
    background-color: #69da75;
    background-image: url("../images/media-centr-icon.svg");
    background-size: cover;
    border: none;

    // @media (max-width: 767px) {
    //   background-size: 16px;
    // }
  }

  @media (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

.mapboxgl__search-form-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 6;
  width: 50px;
  height: 50px;
  margin: 10px 10px 0 0;
  background: #fff;
  border-radius: 50%;
  color: #3399ab;
  cursor: pointer;
  pointer-events: all;
  border: none;
  border: 2px solid transparent;
  transition: $transition;

  &--active {
    svg {
      stroke: #3399ab;
    }
  }

  &:hover {
    border-color: #fff;
    color: #fff;
    background-color: #3399ab !important;
  }

  @media (max-width: 767px) {
    width: 27px;
    height: 27px;
    padding: 0;

    svg {
      width: 13px;
      height: 13px;
    }
  }
}

.mapboxgl-ctrl-geocoder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: transparent !important;
  float: none !important;
  margin-bottom: auto !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 20px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  display: none !important;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  display: none;
  background-color: #fff !important;

  &--active {
    display: block;
    width: 79% !important;
  }
}

.mapboxgl-marker {
  &.hide {
    opacity: 0;
  }
}
////////////////////

.mapbox {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  // overflow: hidden;
}

.poimapbox-map {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  width: 100%;
  height: 950px !important;

  @media (max-width: 1600px) {
    height: 700px !important;
  }

  @media (max-width: 767px) {
    height: 70vh !important;
  }
}

.poimapbox-sidebar {
  display: none;

  &--active {
    display: flex;
    animation: fromright 0.3s ease forwards;
    position: absolute;
    top: 0;
    right: 0;
    width: 675px;
    height: 100%;
    z-index: 5;
    background-color: #fff;
    z-index: 3;

    @media (max-width: 1023px) {
      width: 94%;
    }
  }
}

.poimapbox-sidebar__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 140px;
  padding-top: 40px;
  overflow-y: scroll;

  input {
    margin-right: 40px;
    padding: 15px 40px 19px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(10, 169, 190, 0.2);
    border-radius: 50px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
  }

  @media (max-width: 1023px) {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.poimapbox-sidebar__close-btn {
  position: absolute;
  bottom: 40px;
  left: -25px;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  padding-right: 10px;
  border-radius: 50%;
  background-color: #fff;
  color: #5896a3;
  border: none;
  cursor: pointer;
  transform: rotate(180deg);

  @media (max-width: 767px) {
    width: 27px;
    height: 27px;
    left: -13px;
    padding-right: 5px;

    svg {
      width: 5px;
    }
  }
}

.poimapbox-listings {
  @include list-reset;
  margin-top: 50px;
  height: 100%;
  padding-right: 40px;
}

.amenity-poi {
  padding-top: 48px;
  padding-bottom: 60px;
  border-bottom: 2px solid #694484;

  a {
    font-family: $s-font;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */

    color: #694484;
  }

  h3 {
    margin: 0;
    font-weight: normal;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }

  @media (max-width: 767px) {
    border-width: 1px;
    padding-top: 15px;
    padding-bottom: 20px;

    a {
      font-size: 16px;
      line-height: 22px;
    }

    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.fadeOut {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.mapboxgl-ctrl-group button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  border: none;
  box-shadow: none;
  border: 2px solid transparent;
  transition: $transition;
  color: #3399ab;

  &:hover {
    box-shadow: none;
    border-color: #fff;
    color: #fff;
    background-color: #3399ab !important;
  }

  @media (max-width: 767px) {
    width: 27px;
    height: 27px;

    svg {
      width: 13px;
      height: 13px;
    }
  }
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon,
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: none;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mapboxgl-ctrl-group button + button {
  margin-top: 10px;
  border: none;
}

.mapboxgl-ctrl-group {
  background-color: transparent;
  box-shadow: none !important;
}

.mapboxgl-ctrl-group button:focus:first-child {
  border-radius: 50%;
}

.mapboxgl-ctrl-bottom-right {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.mapboxgl-ctrl-attrib {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.years {
  @include list-reset;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: #3399ab;
  color: #fff;
  width: 200px;
  border-right: 2px solid #fff;
  padding-left: 50px;
  padding-top: 30px;
  transition: all 0.3s ease;

  @media (max-width: 767px) {
    display: none;
  }

  &--hide {
    transform: translateX(-100%);
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 52px;
    // bottom: 0;
    display: block;
    width: 3px;
    height: 100%;
    background-color: #fff;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 44px;
  //   bottom: 44px;
  //   left: 49px;
  //   display: block;
  //   // height: 100%;
  //   width: 5px;
  //   background-image: url("data:image/svg+xml,%3Csvg width='5' height='15' viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.5' cy='2.5' r='2.5' fill='white'/%3E%3C/svg%3E%0A");
  //   background-position: right;
  //   background-repeat: repeat-y;
  // }
}

.years__item {
  // margin-bottom: 50px;
  padding-left: 35px;
  position: relative;
  display: flex;

  span {
    font-size: 0;
    line-height: 10px;
    padding: 0 7px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
  }

  &--full {
    span {
      font-size: 24px;
      line-height: 27px;
      transition: $transition;

      &:hover {
        border-color: #fff;
      }
    }

    &::before {
      left: -1px;
      width: 9px;
      height: 9px;
    }
  }

  &--active {
    span {
      font-size: 24px;
      line-height: 27px;
      border: 1px solid #fff;
      background-color: #72c8df;
    }

    &::after {
      content: "";
      position: absolute;
      left: -7px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 21px;
      height: 21px;
      background: #72c8df;
      border: 1px solid #ffffff;
      border-radius: 50%;
      box-shadow: inset 0 0 0 5px #72c8df, inset 0 0 0 15px #ffffff;
      z-index: 2;
    }
  }
}

.years-btn {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: -23px;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  color: #5896a3;
  transition: $transition;

  &:hover {
    background-color: #72c8df;
    color: #fff;
    border: 2px solid #fff;
  }
}

.years-play-btn {
  padding-left: 5px;

  &--hide {
    display: none;
  }
}
.years-stop-btn {
  // background-color: #72c8df;
  // border: 2px solid #fff;
  // color: #fff;

  &--hide {
    display: none;
  }
}
.years-resume-btn {
  padding-left: 5px;
  &--hide {
    display: none;
  }
}

.mapboxgl-ctrl-logo {
  opacity: 0.3;
}

.mapbox__range-filter-wrapper {
  position: relative;
  width: 60px;
  height: 240px;
}

.mapbox__range-filter {
  display: none;
  padding-top: 25px;

  @media (max-width: 767px) {
    display: block;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  input[type="range"] {
    width: 180px;
    margin: 18px 0;
    -webkit-appearance: none;
    position: absolute;
    top: 20px;
    left: 20px;
    transform: rotateZ(90deg) translateX(30%) translateY(100px);
    border-radius: 2px;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"] + label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 0;
    text-align: center;
    font-family: $s-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;

    color: #ffffff;
  }

  /* Chrome & Safari */
  input[type="range"]::-webkit-slider-runnable-track {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    height: 2px;
    cursor: pointer;
    border-radius: 2px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: -9px;
    cursor: pointer;
    box-shadow: inset 0 0 0 5px #57e3ec;
  }

  /* Firefox */
  input[type="range"]::-moz-range-track {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    height: 2px;
    cursor: pointer;
    border-radius: 2px;
  }

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: -9px;
    cursor: pointer;
    box-shadow: inset 0 0 0 5px #57e3ec;
  }

  /* IE */
  input[type="range"]::-ms-track {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    height: 2px;
    cursor: pointer;
    border-radius: 2px;
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 2px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: -9px;
    cursor: pointer;
    box-shadow: inset 0 0 0 5px #57e3ec;
  }
}

.mapboxgl__popup-slider {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 7px;
    background: #0aa9be;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }
}
