$base-color: #333333;
$b-font: "Montserrat", Arial, san-serif;
$s-font: "aliceregular", Helvetica, serif;
$tablet: "min-width: 768px";
$desktop: "min-width: 1440px";

$transition-time: 0.3s;
$transition-type: ease-in-out;
$transition: $transition-time $transition-type;
