---
title: Главная страница
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="hero">
  <div class="hero__wrapper">
    <h1 class="hero__title">
      <span class="hero__title-top">родина и чужбина</span>
      Марины Цветаевой
      <span class="hero__title-bottom">Болшево</span>
    </h1>
    <div class="hero__poem">
      <p>Гордость и робость – родные сестры, <br> Над колыбелью, дружные, встали. </p>
      <p>«Лоб запрокинув!» – гордость велела. <br> «Очи потупив!» – робость шепнула. </p>
      <p>Так прохожу я – очи потупив — <br> Лоб запрокинув – Гордость и Робость.</p>
      <p><em>20 сентября 1921</em></p>
    </div>

    <img loading="lazy" class="hero__signature" src="/images/hero-signature.svg" width="267" height="78"
      alt="Изображение подписи Цветаевой">
  </div>
</section>

<section class="section-map">
  <div class="section-map__cite">
    <p>Таруса — <br>
      Langackern — <br>
      Коктебель — <br>
      Мокропсы (Вшеноры) — <br>
      <br>
      вот места моей души.<br>
      По ним — соберете.
    </p>
  </div>
  <div class="section-map__text">
    <p>Жизнь, творчество и наследие великого русского поэта Серебряного века Марины Ивановны Цветаевой меняли и
      продолжают менять пространство, оставляя за собой следы. Это и вполне конкретные географические локации — места
      пребывания и мемориальные музеи поэта, и тот огонь, который ее творчество зажигает в сердцах людей по всему
      миру.</p>

    <p>Создание этого веб-ресурса приурочено к 130-летию со дня рождения поэта с целью показать богатое наследие
      Марины Цветаевой, оставленное ею на Родине, в России, и на «Чужбине» —во Франции, Германии, Чехии и других
      странах.</p>

    <a href="map.html" class="section-map__btn">Перейти к карте</a>
  </div>
</section>

<section class="news">
  <div class="news__wrapper">
    <div class="news__section-head">
      <h2 class="news__title">Новости и события</h2>
      <p>Самые свежие новости.</p>
    </div>
    <div class="news__list  news-slider">
      <div class="swiper-wrapper">
        <div class="news__item  swiper-slide">
          <article class="news__article">
            <div class="news__photo"><img loading="lazy" src="/images/news-1.jpg" alt=""></div>
            <div class="news__head">
              <h3><a href="news-item.html">Поэты и музы</a></h3>
              <time datetime="2011-03-31">31 марта 2011</time>
            </div>

            <p>Торжественное открытие выставки «Поэты и музы» состоится в преддверии Пушкинского дня России, 3 июня, в
              Государственном музее А.С. Пушкина. Поздравляем коллег с блестящей реализацией издательского проекта –
              каталогом «Поэты и музы»! </p>
          </article>
        </div>
        <div class="news__item  swiper-slide">
          <article class="news__article">
            <div class="news__photo"><img loading="lazy" src="/images/news-2.jpg" alt=""></div>
            <div class="news__head">
              <h3><a href="news-item.html">Сыновья. Георгий Эфрон, Федор Булгаков Сыновья.</a></h3>
              <time datetime="2011-03-31">31 марта 2011</time>
            </div>

            <p>Торжественное открытие выставки «Поэты и музы» состоится в преддверии Пушкинского дня России, 3 июня, в
              Государственном музее А.С. Пушкина. Поздравляем коллег с блестящей реализацией издательского проекта –
              каталогом «Поэты и музы»! </p>
          </article>
        </div>
        <div class="news__item  swiper-slide">
          <article class="news__article">
            <div class="news__photo"><img loading="lazy" src="/images/news-3.jpg" alt=""></div>
            <div class="news__head">
              <h3><a href="news-item.html">Сыновья. Георгий Эфрон, Федор Булгаков</a></h3>
              <time datetime="2011-03-31">31 марта 2011</time>
            </div>

            <p>Торжественное открытие выставки «Поэты и музы» состоится в преддверии Пушкинского дня России, 3 июня, в
              Государственном музее А.С. Пушкина. Поздравляем коллег с блестящей реализацией издательского проекта –
              каталогом «Поэты и музы»! </p>
          </article>
        </div>
      </div>
      <div class="news-slider-pagination"></div>
    </div>
  </div>
</section>

<section class="vr">
  <div class="vr__left">
    <div class="vr__text">
      <p>Подмосковное Болшево, поселок Новый Быт, улица Свердлова, 4/33 – первый адрес Марины Цветаевой в Советской
        России. Сюда она вернулась в 1939 году после 17 лет эмиграции во Франции. В Болшево Цветаева провела последние
        месяцы со своими детьми и супругом.</p>
      <p>В 1992 году в доме, где жила поэтесса, открылся музей. Сегодня это отдел «Мемориальный Дом-музей Марины
        Цветаевой в Болшеве» Музейного объединения «Музеи наукограда Королёв». Музей хранит, экспонирует и изучает,
        богатейшую коллекцию автографов, личных вещей поэта, членов её семьи, близкого окружения.
      </p>
      <a class="vr__link" href="">О музее</a>
    </div>
  </div>
  <div class="vr__right">
    <h2 class="vr__title">Виртуальный тур
      по музею</h2>

    <a class="vr__link  vr__link--white" href="#">Виртуальная прогулка</a>
  </div>

</section>

<section class="collection">
  <div class="collection__wrapper">
    <div class="collection__section-head">
      <h2 class="collection__title">Коллекция</h2>
      <p>На сегодняшний день фондовое собрание музея насчитывает более 45000 единиц хранения и делится на семь
        коллекций: мемориально- вещевая, документы, фотодокументы, печатные издания, живопись, графика и скульптура.</p>
      <a class="collection__link" href="#">Предметы на панораме</a>
    </div>

    <ul class="collection__list">
      <li class="collection__item">
        <img loading="lazy" src="/images/collection-1.jpg" alt="">
        <p><a href="#">Кофемолка турецкая («турка»), принадлежавшая в 1939 г. семьеМ.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="/images/collection-2.jpg" alt="">
        <p><a href="#">Рисунок М.И. Цветаевой, сверху — текст, обращенный к С.Я. Эфрону</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="/images/collection-3.jpg" alt="">
        <p><a href="#">Бусы из голубого кварца, принадлежавшие М.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="/images/collection-4.jpg" alt="">
        <p><a href="#">Фотография: М.И. Цветаева с дочерью Алей, сделанная в Москве в 1916 г. и подаренная А.
            Штейгеру</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="/images/collection-5.jpg" alt="">
        <p><a href="#">Браслет, принадлежавший М.И. Цветаевой. Изготовлен в 1920-1930-е гг. </a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="/images/collection-6.jpg" alt="">
        <p><a href="#">Фотография-открытка Парижа с аэроплана. С автографом Марины Цветаевой </a></p>
      </li>
    </ul>

    <a class="collection__link  collection__link--mobile" href="#">Предметы на панораме</a>
  </div>
</section>

{% endblock %}
