<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Primary Meta Tags -->
  <title>Музей</title>
  <meta name="description" content="Description index">
  <link rel="stylesheet" media="all" href="css/style.min.css" />
  <!-- BEGIN social data -->
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <!-- Twitter -->
  <meta property="twitter:card" content="">
  <meta property="twitter:url" content="">
  <meta property="twitter:title" content="">
  <meta property="twitter:description" content="">
  <meta property="twitter:image" content="">
  <!-- END social data -->
  <link rel="icon" href="favicon/favicon.ico"><!-- 32×32 -->
  <link rel="icon" href="favicon/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="favicon/manifest.webmanifest">
</head>

<body class="page__body">
  <header class="header">
    <div class="header__wrapper">
      <div class="logo">
        <a class="logo__link" href="index.html">Музейное объединение <br>«Музеи наукограда Королев»</a>
      </div>
      <nav class="main-nav">
        <button class="main-nav__button" type="button" aria-expanded="false" aria-controls="main-nav__list">
          <svg class="main-nav__icon" aria-hidden="true" width="21" height="14">
            <use class="main-nav__icon-menu" href="images/sprite_auto.svg#menu"></use>
            <use class="main-nav__icon-cross" href="images/sprite_auto.svg#cross"></use>
          </svg>
        </button>
        <ul class="main-nav__list" id="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link  main-nav__link--current" href="museum.html">Музей</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link " href="news-page.html">Новости</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link " href="biography.html">Биографии</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link " href="textpage.html">Цветаева в культуре</a>
          </li>
          <li class="header__user-block">
            <div class="header__search">
              <button class="header__search-btn" type="button" aria-label="Открыть форму поиска">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <use href="images/sprite_auto.svg#search" />
                </svg>
              </button>
              <form class="header__search-form  search-form" action="#" method="GET">
                <div class="search-form__field">
                  <input type="search">
                  <button class="search-form__submit-btn" type="submit" aria-label="Найти">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <use href="images/sprite_auto.svg#search" />
                    </svg>
                  </button>
                </div>
              </form>
            </div>
            <div class="lang">
              <ul class="lang__list">
                <li class="lang__item"><a href="#">En</a></li>
                <li class="lang__item"><a href="#">Аа</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- BEGIN content -->
  <main class="page__main">
    <section class="textpage">
      <div class="textpage__head"
        style="background-image: url('http://photos.wikimapia.org/p/00/04/89/40/03_big.jpg');">
        <section class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item"><a href="#">Главная</a></li>
            <li class="breadcrumbs__item">Музей</li>
          </ul>
        </section>
        <div class="textpage__head-text">
          <h1>О Музее</h1>
          <p>Музейное объединение «Музеи наукограда Королёв», отдел «Мемориальный Дом-музей Марины Цветаевой в Болшеве»
          </p>
        </div>
      </div>
      <div class="textpage__wrapper">
        <!-- Просто колонка с текстом -->
        <div class="textpage__text">
          <p>Мемориальный Дом-музей Марины Цветаевой в Болшеве» занимает помещение дачи, которая была построена
            организацией Экспортлес Наркомвнешторга для своих сотрудников в 1933 году (адрес: ст. Болшево, поселок Новый
            быт, ул. Свердлова, д. 4/33). С 1938 года дача поступила в распоряжение НКВД. В феврале или октябре того же
            года половину дачи получил в пользование С.Я. Эфрон. Сюда из Франции 19 июня 1939 года приехала Марина
            Ивановна Цветаева с сыном Георгием. В письме к Анне Антоновне Тесковой от 31 мая 1939 года Марина Ивановна
            пишет о Болшеве – деревне, в которую они с Муром едут: «Там – сосны, это единственное, что я о ней знаю».
            Болшевский дом – последнее место встречи и совместного проживания членов семьи великого поэта. В Болшеве 21
            июля Марина Цветаева начала работу над переводами стихотворений М.Ю. Лермонтова на французский язык, которые
            составили знаменитую «Болшевскую тетрадь». Трагический период в жизни семьи, приведший к расставанию
            навсегда, также пришелся на Болшево. 27 августа здесь была арестована Ариадна Сергеевна Эфрон, а 10 октября
            – Сергей Яковлевич Эфрон.</p>
        </div>
      </div>
      <!-- Просто колонка с текстом -->
      <!-- Блок с цитатой -->
      <div class="textpage__cite">
        <div class="textpage__wrapper">
          <div class="textpage__cite-text">
            <p>«О нас с Муром: 8-го ноября 1939 г.<br>мы ушли из Болшева – навсегда».</p>
            <p><em>Марина Цветаева в письме к Ариадне Сергеевне от 22 марта 1941</em></p>
          </div>
        </div>
      </div>
      <!-- Блок с цитатой -->
      <!-- Заголовок и колонка с текстом -->
      <div class="textpage__wrapper">
        <div class="textpage__left">
          <h2>Основание музея</h2>
        </div>
        <div class="textpage__text">
          <p>«Мемориального Дома-музея Марины Цветаевой в Болшеве» – 19 сентября 1992 года. Музей открылся в год
            столетия Марины Цветаевой. Директор музея со дня основания – Зоя Николаевна Атрохина.</p>
        </div>
      </div>
      <!-- Заголовок и колонка с текстом -->
      <!-- Заголовок и колонка с текстом -->
      <div class="textpage__wrapper">
        <div class="textpage__left">
          <h2>Современная история</h2>
        </div>
        <div class="textpage__text">
          <p>С 1 января 2017 года «Мемориальный Дом-музей Марины Цветаевой в Болшеве» – отдел Музейного объединения
            «Музеи наукограда Королёв». Сохраняя традиции и высокий авторитет в цветаевском сообществе в России и за
            рубежом, музей, как часть объединения, осваивает новые формы работы, реализует различные проекты на самых
            престижных площадках. Часть богатейшей музейной коллекции, включающей подлинные предметы, связанные с жизнью
            и творчеством Марины Цветаевой, членов ее семьи, окружения, с успехом представлена на самых интересных
            выставочных проектах. </p>
          <p>Директор Музейного объединения «Музеи наукограда Королёв» - Елена Владимировна Куценко.</p>
        </div>
      </div>
      <!-- Заголовок и колонка с текстом -->
      <!-- Слайдер на 3 картинки -->
      <div class="textpage__gallery-slider">
        <div class="textpage__gallery-slider-container">
          <div class="swiper-wrapper">
            <div class="textpage__gallery-slider-item  swiper-slide">
              <img src="/images/gallery-slider-item-1.jpg" alt="">
            </div>
            <div class="textpage__gallery-slider-item  swiper-slide">
              <img src="/images/gallery-slider-item-2.jpg" alt="">
            </div>
            <div class="textpage__gallery-slider-item  swiper-slide">
              <img src="/images/gallery-slider-item-3.jpg" alt="">
            </div>
            <div class="textpage__gallery-slider-item  swiper-slide">
              <img src="/images/gallery-slider-item-1.jpg" alt="">
            </div>
            <div class="textpage__gallery-slider-item  swiper-slide">
              <img src="/images/gallery-slider-item-2.jpg" alt="">
            </div>
            <div class="textpage__gallery-slider-item  swiper-slide">
              <img src="/images/gallery-slider-item-3.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="textpage__gallery-slider-pagination"></div>
        <div class="textpage__gallery-slider-prev">
          <svg width="10" height="30" viewBox="0 0 10 30" xmlns="http://www.w3.org/2000/svg">
            <use href="images/sprite_auto.svg#prev-arrow" />
          </svg>
        </div>
        <div class="textpage__gallery-slider-next">
          <svg width="10" height="30" viewBox="0 0 10 30" xmlns="http://www.w3.org/2000/svg">
            <use href="images/sprite_auto.svg#next-arrow" />
          </svg>
        </div>
      </div>
      <!-- Слайдер на 3 картинки -->
      <!-- Заголовок и колонка с текстом -->
      <div class="textpage__wrapper">
        <div class="textpage__left">
          <h2>Ключевые выставочные проекты 2017–2022</h2>
        </div>
        <div class="textpage__text">
          <p>«Тэт-а-тэт с вечностью. Рильке, Цветаева. 90 лет “Новогоднему”», «Великая дочь великого отца» (к 170-летию
            со дня рождения И.В. Цветаева), «Марина Цветаева на страницах эмигрантской прессы», «В двойном потоке
            бытия», «У бескорыстия есть имена», «Мой письменный верный стол», «История одного экспоната», «Станция
            Болшево: перекресток судеб», «Зовут ее Ася, но лучшее имя ей – пламя» (к 125-летию со дня рождения А.И.
            Цветаевой), «Сыновья. Георгий, сын Марины. Федор, сын Сергея» (к 95-летию со дня рождения Г.С. Эфрона),
            «Русский классический театр на карте города».</p>
        </div>
      </div>
      <!-- Заголовок и колонка с текстом -->
      <!-- Заголовок и колонка с текстом -->
      <div class="textpage__wrapper">
        <div class="textpage__left">
          <h2>Совместные выставочные проекты</h2>
        </div>
        <div class="textpage__text">
          <p>«По Голицинским проспектам. Вяземы. Век XX», «После России. 1922–1939. Лирика и эпос Марины Цветаевой», «От
            Толстого до Толстого. Писатель, мода и стиль», «Поэты и музы». Полным ходом идет подготовка выставки к
            130-летию со дня рождения поэта. Объединившись в общем проекте, цветаевские музеи в октябре 2022 года
            представят в «Шолохов_Центре» Ростова-на-Дону коллекцию уникальных предметов из своих фондов.</p>
        </div>
      </div>
      <!-- Заголовок и колонка с текстом -->
      <!-- Текстовый блок с отступом сверху и снизу -->
      <div class="textpage__wrapper  textpage__wrapper--m-top  textpage__wrapper--m-bottom">
        <div class="textpage__left">
          <h2>Традиционно (ежегодно) проводимые мероприятия</h2>
        </div>
        <div class="textpage__text">
          <ul>
            <li>
              <p>19 июня – День приезда Марины Цветаевой в Болшево. Поэтический проект «Моя Цветаева»</p>
            </li>
            <li>
              <p>Последняя суббота июля – «Ежегодное музыкальное событие Болшеве в честь именин Марины Цветаевой»</p>
            </li>
            <li>
              <p>31 августа – Событие «Свеча в саду» в день памяти великого русского поэта Марины Цветаевой</p>
            </li>
            <li>
              <p>Третья суббота сентября – Ежегодный Цветаевский костёр в честь дня рождения «Мемориального Дома-музея
                Марины Цветаевой в Болшеве» (в 2022 году музею исполняется 30 лет)</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- Текстовый блок с отступом сверху и снизу -->
      <!-- Заголовок и колонка с текстом -->
      <div class="textpage__wrapper">
        <div class="textpage__left">
          <h2>Контакты</h2>
        </div>
        <div class="textpage__text">
          <p><strong>Адрес:</strong> Московская область, городской округ Королев, ул. Марины Цветаевой, д. 15<br>
            <strong>Тел.:</strong> +7 (495) 519 99 48, e-mail: musmcb@mail.ru<br>
            <strong>Проезд:</strong> от Москвы на электропоезде с Ярославского вокзала до ст. Болшево (поезда Монинского
            направления: до Монино, Болшево, Щелково, Фрязево). От ст. Болшево выйдите на правую сторону по ходу поезда
            «от Москвы». Улица Марины Цветаевой начинается ближе к переднему краю платформы и следует параллельно
            железнодорожной ветке. Двигаясь по этой улице прямо, через 5–7 минут вы подойдете к музею.<br>
            <strong>Автобусом:</strong> от станции метро ВДНХ, автобус № 392 до остановки «станция Болшево».
          </p>
        </div>
      </div>
    </section>
    <section class="collection">
      <div class="collection__wrapper">
        <h2 class="collection__title">Коллекция</h2>
        <ul class="collection__list  collection__list--4-column">
          <li class="collection__item">
            <img src="/images/collection-1.jpg" alt="">
            <p><a href="#">Кофемолка турецкая («турка»), принадлежавшая в 1939 г. семьеМ.И. Цветаевой</a></p>
          </li>
          <li class="collection__item">
            <img src="/images/collection-2.jpg" alt="">
            <p><a href="#">Рисунок М.И. Цветаевой, сверху — текст, обращенный к С.Я. Эфрону</a></p>
          </li>
          <li class="collection__item">
            <img src="/images/collection-3.jpg" alt="">
            <p><a href="#">Бусы из голубого кварца, принадлежавшие М.И. Цветаевой</a></p>
          </li>
          <li class="collection__item">
            <img src="/images/collection-4.jpg" alt="">
            <p><a href="#">Фотография: М.И. Цветаева с дочерью Алей, сделанная в Москве в 1916 г. и подаренная А.
                Штейгеру</a></p>
          </li>
          <li class="collection__item">
            <img src="/images/collection-1.jpg" alt="">
            <p><a href="#">Кофемолка турецкая («турка»), принадлежавшая в 1939 г. семьеМ.И. Цветаевой</a></p>
          </li>
          <li class="collection__item">
            <img src="/images/collection-2.jpg" alt="">
            <p><a href="#">Рисунок М.И. Цветаевой, сверху — текст, обращенный к С.Я. Эфрону</a></p>
          </li>
          <li class="collection__item">
            <img src="/images/collection-3.jpg" alt="">
            <p><a href="#">Бусы из голубого кварца, принадлежавшие М.И. Цветаевой</a></p>
          </li>
          <li class="collection__item">
            <img src="/images/collection-4.jpg" alt="">
            <p><a href="#">Фотография: М.И. Цветаева с дочерью Алей, сделанная в Москве в 1916 г. и подаренная А.
                Штейгеру</a></p>
          </li>
        </ul>
        <div class="collections__links">
          <a class="collection__link" href="#">Показать еще</a>
          <a class="collection__link  collection__link--invert" href="#">Предметы на панораме</a>
        </div>
      </div>
    </section>
  </main>
  <!-- END content -->
  <footer class="footer">
    <div class="footer__wrapper">
      <ul class="footer__contacts-list">
        <li class="footer__contacts-item">
          <div class="footer__contacts-type">Адрес</div>
          <div class="footer__contacts-info">Московская область, г. Королёв, ул. Марины Цветаевой, д. 15</div>
        </li>
        <li class="footer__contacts-item">
          <div class="footer__contacts-type">Часы работы</div>
          <div class="footer__contacts-info">среда — воскресенье: с 10:00 до 18:00</div>
        </li>
        <li class="footer__contacts-item">
          <div class="footer__contacts-type">Время начала экскурский</div>
          <div class="footer__contacts-info"> 10:30, 12:00, 13:30, 15:00, 16:30</div>
        </li>
        <li class="footer__contacts-item">
          <div class="footer__contacts-type">Касса работает</div>
          <div class="footer__contacts-info">до 17:00</div>
        </li>
        <li class="footer__contacts-item">
          <div class="footer__contacts-type">Выходные дни</div>
          <div class="footer__contacts-info">понедельник, вторник, последняя среда месяца</div>
        </li>
        <li class="footer__contacts-item">
          <div class="footer__contacts-type">Телефон</div>
          <div class="footer__contacts-info">+7 (495) 519 99-48</div>
        </li>
      </ul>
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a class="footer__nav-link  footer__nav-link--current" href="museum.html">Музей</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link " href="news-page.html">Новости</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link " href="biography.html">Биографии</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link " href="textpage.html">Цветаева в культуре</a>
        </li>
      </ul>
      <ul class="footer__sponsors-list">
        <li class="footer__sponsor"><a href=""><img src="/images/mbuk.png" width="288" height="70"
              alt="Логотип МБУК"></a>
        </li>
        <li class="footer__sponsor"><a href=""><img src="/images/fond-potanin.svg" width="246" height="69"
              alt="Логотип благотворительного фонда Владимира Потанина"></a></li>
      </ul>
      <ul class="footer__list-links  footer__list-links--rules">
        <li class="footer__item-link"><a href="#">Политика сбора cookies</a></li>
        <li class="footer__item-link"><a href="#">Правила использования материалов</a></li>
        <li class="footer__item-link"><a href="#">Подписка на новости музея</a></li>
      </ul>
      <ul class="footer__list-links">
        <li class="footer__item-link"><a href="#">© Мемориальный Дом-музей Марины Цветаевой в Болшеве, 2021</a></li>
        <li class="footer__item-link"><a href="#">Старая версия сайта</a></li>
      </ul>
    </div>
  </footer>
  <!-- BEGIN scripts -->
  <!-- <script>
    const geojson = {
      type: 'FeatureCollection',
      features: [
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [-77.032, 38.913]
          },
          properties: {
            title: 'Дом-музей Марины Цветаевой',
            description: 'Москва, Борисоглебский переулок, строение 1',
            type: 'museum'
          }
        },
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [-122.414, 37.776]
          },
          properties: {
            title: 'Дом-музей Марины Цветаевой',
            description: 'Москва, Борисоглебский переулок, строение 1',
            type: 'bonfire'
          }
        },
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [-100.414, 34.776]
          },
          properties: {
            title: 'Дом-музей Марины Цветаевой',
            description: 'Москва, Борисоглебский переулок, строение 1',
            type: 'place'
          }
        }
      ]
    };
  </script> -->
  <script>
    let places = {
      type: 'FeatureCollection',
      features: [
        {
          type: 'Feature',
          properties:
          {
            type: 'museum',
            year: '1892',
            name: 'Дом-музей Марины Цветаевой',
            subtitle: 'Москва, Борисоглебский переулок, строение 1',
            info: `
            <h2>Марина Цветаева, Сергей Эфрон и их дочь Ариадна(заголовок Н2)</h2>
            <p>Общая литературная ситуация в передовой поэзии этого времени тоже известна. К 1910 г. завершил свой цикл развития символизм, вожди его перестали быть группой и пошли каждый своим путем; выработанная ими поэтика - очень богатый и пестрый набор образов, эмоций, стиля, стиха - осталась достоянием учеников. Именно набор, а не "система": системой поэтика символизма была только в творчестве каждого отдельного из ведущих поэтов, а для наследников она распалась на кучу приемов, некое стилистическое эсперанто, преимущественно из брюсовских элементов, в котором каждый должен был разбираться по-своему. Это - то, о чем Пастернакак сам принадлежавший к этому поколению и к этой среде, писал потом в юбилейной инвективе Брюсову: "И мы на перья разодрали крылья".</p>

            <div class="mapboxgl__custom-content-links">
              <a href="#" class="mapboxgl__custom-content-link">Сайт музея</a>
              <a href="#" class="mapboxgl__custom-content-link  mapboxgl__custom-content-link--invert">Видеоэкскурсия</a>
            </div>
            `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [9.46, 51.30]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'bonfire',
            year: '1920',
            name: 'Таруса',
            subtitle: '6 октября 1986 года',
            cityzip: ' ',
            info: `
            <p>Тут будет какой-то контен</p>
            `,
          },
          geometry:
          {
            type: 'Point',
            coordinates: [37.6052, 55.7472]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'place',
            year: '1897',
            name: 'Москва, Борисоглебский переулок, 6',
            subtitle: 'Москва, Борисоглебский переулок, 6',
            cityzip: ' ',
            info: `
            <table>
              <tr>
                <td>Зажгли</td>
                <td>
                  <p>Надежда Загайнова, Александр Ханаков, Надежда Шиянова.</p>
                  <p>Летом 1910 года сестры Цветаевы жили
                    в Дрездене и Вайсер Хирш, пансион «Норвежский дом».</p>
                </td>
              </tr>
              <tr>
                <td>Часы работы</td>
                <td>
                  <p>вт, ср 12:00–19:00 <br>
                    чт 12:00–21:00 <br>
                    пт-вс 12:00–19:00</p>
                </td>
              </tr>
            </table>
            `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [-77.032, 38.913]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'place',
            year: '1897',
            name: 'Еще одна замечательная точка',
            subtitle: 'ул. Волхонка, 12',
            cityzip: ' ',
            info: `
            <table>
              <tr>
                <td>Зажгли</td>
                <td>
                  <p>Надежда Загайнова, Александр Ханаков, Надежда Шиянова.</p>
                  <p>Летом 1910 года сестры Цветаевы жили
                    в Дрездене и Вайсер Хирш, пансион «Норвежский дом».</p>
                </td>
              </tr>
              <tr>
                <td>Часы работы</td>
                <td>
                  <p>вт, ср 12:00–19:00 <br>
                    чт 12:00–21:00 <br>
                    пт-вс 12:00–19:00</p>
                </td>
              </tr>
            </table>
            `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [34.032, 51.913]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'place',
            year: '1897',
            name: 'Москва, Борисоглебский переулок, 6',
            subtitle: 'ул. Волхонка, 12',
            cityzip: ' ',
            info: `
            <table>
              <tr>
                <td>Зажгли</td>
                <td>
                  <p>Надежда Загайнова, Александр Ханаков, Надежда Шиянова.</p>
                  <p>Летом 1910 года сестры Цветаевы жили
                    в Дрездене и Вайсер Хирш, пансион «Норвежский дом».</p>
                </td>
              </tr>
              <tr>
                <td>Часы работы</td>
                <td>
                  <p>вт, ср 12:00–19:00 <br>
                    чт 12:00–21:00 <br>
                    пт-вс 12:00–19:00</p>
                </td>
              </tr>
            </table>
            `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [31.032, 58.913]
          }
        }]
    };

  </script>
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
  <!-- <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
  <script src="js/libs.min.js"></script>
  <script src="js/main.min.js"></script>
  <script>
  </script>
  <!-- END scripts -->
</body>

</html>
