---
title: Музей
description: Description index
---
{% extends "layouts/_layout.html" %}
{% block content %}

<section class="textpage">
  <div class="textpage__head" style="background-image: url('http://photos.wikimapia.org/p/00/04/89/40/03_big.jpg');">
    <section class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
        <li class="breadcrumbs__item">Музей</li>
      </ul>
    </section>
    <div class="textpage__head-text">
      <h1>О Музее</h1>
      <p>Музейное объединение «Музеи наукограда Королёв», отдел «Мемориальный Дом-музей Марины Цветаевой в Болшеве»</p>
    </div>
  </div>
  <div class="textpage__wrapper">
    <!-- Просто колонка с текстом -->
    <div class="textpage__text">
      <p>Мемориальный Дом-музей Марины Цветаевой в Болшеве» занимает помещение дачи, которая была построена организацией
        Экспортлес Наркомвнешторга для своих сотрудников в 1933 году (адрес: ст. Болшево, поселок Новый быт, ул.
        Свердлова, д. 4/33). С 1938 года дача поступила в распоряжение НКВД. В феврале или октябре того же года половину
        дачи получил в пользование С.Я. Эфрон. Сюда из Франции 19 июня 1939 года приехала Марина Ивановна Цветаева с
        сыном Георгием. В письме к Анне Антоновне Тесковой от 31 мая 1939 года Марина Ивановна пишет о Болшеве –
        деревне, в которую они с Муром едут: «Там – сосны, это единственное, что я о ней знаю». Болшевский дом –
        последнее место встречи и совместного проживания членов семьи великого поэта. В Болшеве 21 июля Марина Цветаева
        начала работу над переводами стихотворений М.Ю. Лермонтова на французский язык, которые составили знаменитую
        «Болшевскую тетрадь». Трагический период в жизни семьи, приведший к расставанию навсегда, также пришелся на
        Болшево. 27 августа здесь была арестована Ариадна Сергеевна Эфрон, а 10 октября – Сергей Яковлевич Эфрон.</p>
    </div>
  </div>
  <!-- Просто колонка с текстом -->
  <!-- Блок с цитатой -->
  <div class="textpage__cite">
    <div class="textpage__wrapper">
      <div class="textpage__cite-text">
        <p>«О нас с Муром: 8-го ноября 1939 г.<br>мы ушли из Болшева – навсегда».</p>
        <p><em>Марина Цветаева в письме к Ариадне Сергеевне от 22 марта 1941</em></p>
      </div>
    </div>
  </div>
  <!-- Блок с цитатой -->
  <!-- Заголовок и колонка с текстом -->
  <div class="textpage__wrapper">
    <div class="textpage__left">
      <h2>Основание музея</h2>
    </div>
    <div class="textpage__text">
      <p>«Мемориального Дома-музея Марины Цветаевой в Болшеве» – 19 сентября 1992 года. Музей открылся в год столетия
        Марины Цветаевой. Директор музея со дня основания – Зоя Николаевна Атрохина.</p>
    </div>
  </div>
  <!-- Заголовок и колонка с текстом -->
  <!-- Заголовок и колонка с текстом -->
  <div class="textpage__wrapper">
    <div class="textpage__left">
      <h2>Современная история</h2>
    </div>
    <div class="textpage__text">
      <p>С 1 января 2017 года «Мемориальный Дом-музей Марины Цветаевой в Болшеве» – отдел Музейного объединения «Музеи
        наукограда Королёв». Сохраняя традиции и высокий авторитет в цветаевском сообществе в России и за рубежом,
        музей, как часть объединения, осваивает новые формы работы, реализует различные проекты на самых престижных
        площадках. Часть богатейшей музейной коллекции, включающей подлинные предметы, связанные с жизнью и творчеством
        Марины Цветаевой, членов ее семьи, окружения, с успехом представлена на самых интересных выставочных проектах.
      </p>
      <p>Директор Музейного объединения «Музеи наукограда Королёв» - Елена Владимировна Куценко.</p>
    </div>
  </div>
  <!-- Заголовок и колонка с текстом -->
  <!-- Слайдер на 3 картинки -->
  <div class="textpage__gallery-slider">
    <div class="textpage__gallery-slider-container">
      <div class="swiper-wrapper">
        <div class="textpage__gallery-slider-item  swiper-slide">
          <img src="images/gallery-slider-item-1.jpg" alt="">
        </div>
        <div class="textpage__gallery-slider-item  swiper-slide">
          <img src="images/gallery-slider-item-2.jpg" alt="">
        </div>
        <div class="textpage__gallery-slider-item  swiper-slide">
          <img src="images/gallery-slider-item-3.jpg" alt="">
        </div>
        <div class="textpage__gallery-slider-item  swiper-slide">
          <img src="images/gallery-slider-item-1.jpg" alt="">
        </div>
        <div class="textpage__gallery-slider-item  swiper-slide">
          <img src="images/gallery-slider-item-2.jpg" alt="">
        </div>
        <div class="textpage__gallery-slider-item  swiper-slide">
          <img src="images/gallery-slider-item-3.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="textpage__gallery-slider-pagination"></div>
    <div class="textpage__gallery-slider-prev">
      <svg width="10" height="30" viewBox="0 0 10 30" xmlns="http://www.w3.org/2000/svg">
        <use href="images/sprite_auto.svg#prev-arrow" />
      </svg>
    </div>
    <div class="textpage__gallery-slider-next">
      <svg width="10" height="30" viewBox="0 0 10 30" xmlns="http://www.w3.org/2000/svg">
        <use href="images/sprite_auto.svg#next-arrow" />
      </svg>
    </div>
  </div>
  <!-- Слайдер на 3 картинки -->
  <!-- Заголовок и колонка с текстом -->
  <div class="textpage__wrapper">
    <div class="textpage__left">
      <h2>Ключевые выставочные проекты 2017–2022</h2>
    </div>
    <div class="textpage__text">
      <p>«Тэт-а-тэт с вечностью. Рильке, Цветаева. 90 лет “Новогоднему”», «Великая дочь великого отца» (к 170-летию со
        дня рождения И.В. Цветаева), «Марина Цветаева на страницах эмигрантской прессы», «В двойном потоке бытия», «У
        бескорыстия есть имена», «Мой письменный верный стол», «История одного экспоната», «Станция Болшево: перекресток
        судеб», «Зовут ее Ася, но лучшее имя ей – пламя» (к 125-летию со дня рождения А.И. Цветаевой), «Сыновья.
        Георгий, сын Марины. Федор, сын Сергея» (к 95-летию со дня рождения Г.С. Эфрона), «Русский классический театр на
        карте города».</p>
    </div>
  </div>
  <!-- Заголовок и колонка с текстом -->
  <!-- Заголовок и колонка с текстом -->
  <div class="textpage__wrapper">
    <div class="textpage__left">
      <h2>Совместные выставочные проекты</h2>
    </div>
    <div class="textpage__text">
      <p>«По Голицинским проспектам. Вяземы. Век XX», «После России. 1922–1939. Лирика и эпос Марины Цветаевой», «От
        Толстого до Толстого. Писатель, мода и стиль», «Поэты и музы». Полным ходом идет подготовка выставки к 130-летию
        со дня рождения поэта. Объединившись в общем проекте, цветаевские музеи в октябре 2022 года представят в
        «Шолохов_Центре» Ростова-на-Дону коллекцию уникальных предметов из своих фондов.</p>
    </div>
  </div>
  <!-- Заголовок и колонка с текстом -->
  <!-- Текстовый блок с отступом сверху и снизу -->
  <div class="textpage__wrapper  textpage__wrapper--m-top  textpage__wrapper--m-bottom">
    <div class="textpage__left">
      <h2>Традиционно (ежегодно) проводимые мероприятия</h2>
    </div>
    <div class="textpage__text">
      <ul>
        <li>
          <p>19 июня – День приезда Марины Цветаевой в Болшево. Поэтический проект «Моя Цветаева»</p>
        </li>
        <li>
          <p>Последняя суббота июля – «Ежегодное музыкальное событие Болшеве в честь именин Марины Цветаевой»</p>
        </li>
        <li>
          <p>31 августа – Событие «Свеча в саду» в день памяти великого русского поэта Марины Цветаевой</p>
        </li>
        <li>
          <p>Третья суббота сентября – Ежегодный Цветаевский костёр в честь дня рождения «Мемориального Дома-музея
            Марины Цветаевой в Болшеве» (в 2022 году музею исполняется 30 лет)</p>
        </li>
      </ul>
    </div>
  </div>
  <!-- Текстовый блок с отступом сверху и снизу -->
  <!-- Заголовок и колонка с текстом -->
  <div class="textpage__wrapper">
    <div class="textpage__left">
      <h2>Контакты</h2>
    </div>
    <div class="textpage__text">
      <p><strong>Адрес:</strong> Московская область, городской округ Королев, ул. Марины Цветаевой, д. 15<br>
        <strong>Тел.:</strong> +7 (495) 519 99 48, e-mail: musmcb@mail.ru<br>
        <strong>Проезд:</strong> от Москвы на электропоезде с Ярославского вокзала до ст. Болшево (поезда Монинского
        направления: до Монино, Болшево, Щелково, Фрязево). От ст. Болшево выйдите на правую сторону по ходу поезда «от
        Москвы». Улица Марины Цветаевой начинается ближе к переднему краю платформы и следует параллельно
        железнодорожной ветке. Двигаясь по этой улице прямо, через 5–7 минут вы подойдете к музею.<br>
        <strong>Автобусом:</strong> от станции метро ВДНХ, автобус № 392 до остановки «станция Болшево».
      </p>
    </div>
  </div>
</section>
<section class="collection">
  <div class="collection__wrapper">
    <h2 class="collection__title">Коллекция</h2>
    <ul class="collection__list  collection__list--4-column">
      <li class="collection__item">
        <img src="images/collection-1.jpg" alt="">
        <p><a href="#">Кофемолка турецкая («турка»), принадлежавшая в 1939 г. семьеМ.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img src="images/collection-2.jpg" alt="">
        <p><a href="#">Рисунок М.И. Цветаевой, сверху — текст, обращенный к С.Я. Эфрону</a></p>
      </li>
      <li class="collection__item">
        <img src="images/collection-3.jpg" alt="">
        <p><a href="#">Бусы из голубого кварца, принадлежавшие М.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img src="images/collection-4.jpg" alt="">
        <p><a href="#">Фотография: М.И. Цветаева с дочерью Алей, сделанная в Москве в 1916 г. и подаренная А.
            Штейгеру</a></p>
      </li>
      <li class="collection__item">
        <img src="images/collection-1.jpg" alt="">
        <p><a href="#">Кофемолка турецкая («турка»), принадлежавшая в 1939 г. семьеМ.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img src="images/collection-2.jpg" alt="">
        <p><a href="#">Рисунок М.И. Цветаевой, сверху — текст, обращенный к С.Я. Эфрону</a></p>
      </li>
      <li class="collection__item">
        <img src="images/collection-3.jpg" alt="">
        <p><a href="#">Бусы из голубого кварца, принадлежавшие М.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img src="images/collection-4.jpg" alt="">
        <p><a href="#">Фотография: М.И. Цветаева с дочерью Алей, сделанная в Москве в 1916 г. и подаренная А.
            Штейгеру</a></p>
      </li>
    </ul>
    <div class="collections__links">
      <a class="collection__link" href="#">Показать еще</a>
      <a class="collection__link  collection__link--invert" href="#">Предметы на панораме</a>
    </div>
  </div>
</section>

{% endblock %}
