---
title: Новости и события
description: Description test
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "./partials/_breadcrumbs.html" %}

<section class="news">
  <div class="news__wrapper  news__wrapper--full">
    <h1 class="news__main-title">{{title}}</h1>
    <div class="news__year-nav">
      Архив новостей по годам
      <a href="#" aria-label="Предыдущий год">
        <svg width="5" height="11" viewBox="0 0 5 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.00168874 4.9977C0.00136307 4.83089 0.0594576 4.66924 0.16589 4.54079L3.73547 0.257294C3.85665 0.1115 4.03079 0.0198156 4.21956 0.00241055C4.40834 -0.0149945 4.5963 0.0433053 4.7421 0.164484C4.88789 0.285664 4.97957 0.459796 4.99698 0.648574C5.01438 0.837353 4.95608 1.02531 4.83491 1.17111L1.63656 4.9977L4.72068 8.8243C4.77998 8.89732 4.82427 8.98134 4.85099 9.07154C4.87771 9.16174 4.88635 9.25632 4.87639 9.34987C4.86644 9.44341 4.8381 9.53407 4.793 9.61662C4.7479 9.69917 4.68693 9.772 4.61359 9.83092C4.54018 9.8963 4.45407 9.94581 4.36063 9.97636C4.2672 10.0069 4.16847 10.0178 4.07061 10.0085C3.97276 9.99907 3.8779 9.96958 3.79198 9.92184C3.70605 9.87409 3.63092 9.80911 3.57127 9.73097L0.123055 5.44747C0.0334466 5.31533 -0.00928472 5.15698 0.00168874 4.9977Z"
            fill="#0AA9BE" />
        </svg>
      </a>
      <p class="news__archive-year">2021</p>
      <a href="#" aria-label="Слудующий год">
        <svg width="5" height="11" viewBox="0 0 5 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4.99831 5.01341C4.99864 5.18022 4.94054 5.34187 4.83411 5.47031L1.26453 9.75381C1.14335 9.89961 0.969215 9.99129 0.780437 10.0087C0.591658 10.0261 0.403697 9.9678 0.257904 9.84662C0.11211 9.72544 0.020426 9.55131 0.00302092 9.36253C-0.0143842 9.17376 0.0439153 8.9858 0.165094 8.84L3.36344 5.01341L0.279321 1.18681C0.220019 1.11379 0.175734 1.02976 0.149011 0.939568C0.122287 0.849372 0.113653 0.754785 0.123605 0.661242C0.133556 0.567698 0.161896 0.477043 0.206997 0.394488C0.252098 0.311934 0.31307 0.239105 0.386409 0.180191C0.459814 0.114811 0.545932 0.0652942 0.639365 0.0347442C0.732797 0.00419327 0.831533 -0.00673107 0.929384 0.00265117C1.02724 0.0120344 1.1221 0.0415239 1.20802 0.0892724C1.29395 0.137022 1.36908 0.202002 1.42873 0.280141L4.87694 4.56364C4.96655 4.69577 5.00928 4.85413 4.99831 5.01341Z"
            fill="#0AA9BE" />
        </svg>
      </a>

    </div>
    <ul class="news__list  news__list--full">
      {% for i in range(0, 2) %}
      <li class="news__item">
        <article class="news__article">
          <div class="news__photo"><img src="images/news-1.jpg" alt=""></div>
          <div class="news__head">
            <h3><a href="news-item.html">Поэты и музы</a></h3>
            <time datetime="2011-03-31">31 марта 2011</time>
          </div>

          <p>Торжественное открытие выставки «Поэты и музы» состоится в преддверии Пушкинского дня России, 3 июня, в
            Государственном музее А.С. Пушкина. Поздравляем коллег с блестящей реализацией издательского проекта –
            каталогом «Поэты и музы»! </p>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__photo"><img src="images/news-2.jpg" alt=""></div>
          <div class="news__head">
            <h3><a href="news-item.html">Сыновья. Георгий Эфрон, Федор Булгаков Сыновья.</a></h3>
            <time datetime="2011-03-31">31 марта 2011</time>
          </div>

          <p>Торжественное открытие выставки «Поэты и музы» состоится в преддверии Пушкинского дня России, 3 июня, в
            Государственном музее А.С. Пушкина. Поздравляем коллег с блестящей реализацией издательского проекта –
            каталогом «Поэты и музы»! </p>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__photo"><img src="images/news-3.jpg" alt=""></div>
          <div class="news__head">
            <h3><a href="news-item.html">Сыновья. Георгий Эфрон, Федор Булгаков</a></h3>
            <time datetime="2011-03-31">31 марта 2011</time>
          </div>

          <p>Торжественное открытие выставки «Поэты и музы» состоится в преддверии Пушкинского дня России, 3 июня, в
            Государственном музее А.С. Пушкина. Поздравляем коллег с блестящей реализацией издательского проекта –
            каталогом «Поэты и музы»! </p>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__photo"><img src="images/news-3.jpg" alt=""></div>
          <div class="news__head">
            <h3><a href="news-item.html">Сыновья. Георгий Эфрон, Федор Булгаков</a></h3>
            <time datetime="2011-03-31">31 марта 2011</time>
          </div>

          <p>Торжественное открытие выставки «Поэты и музы» состоится в преддверии Пушкинского дня России, 3 июня, в
            Государственном музее А.С. Пушкина. Поздравляем коллег с блестящей реализацией издательского проекта –
            каталогом «Поэты и музы»! </p>
        </article>
      </li>
      {% endfor %}
    </ul>

    <a class="news__all-link" href="#">Показать еще</a>
  </div>
</section>
{% endblock %}
