---
title: Test page
description: Description test
---
{% extends "layouts/_layout.html" %}

{% block content %}

{# variable example #}
<h1> {{title}} {{title}} </h1>

{# partial example #}
{% include "partials/_header.html" %}

{# mixin example #}
{% import "partials/_mixins.html" as mixins %}
{{mixins.icon('facebook')}}

{{ mixins.field('user') }}
{{ mixins.field('pass', type='password') }}

{# data usage example #}
{% import "data/data.html" as tests %}

{% for test in tests.list %}
<li>{{test.title}}</li>
{% endfor %}
{# end of example #}

{% endblock %}
