---
title: Цветаева в культуре
description: Description test
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="textpage">
  <div class="textpage__head" style="background-image: url('images/textpage-head-photo.jpg');">
    {% include "./partials/_breadcrumbs.html" %}
    <div class="textpage__head-text">
      <h1>От поэтики быта
        к поэтике слова</h1>
      <p>М.Л. Гаспаров. Статья о Марине Цветаевой, 2001</p>

    </div>
  </div>
  <div class="textpage__wrapper">
    <!-- Просто колонка с текстом -->
    <div class="textpage__text">
      {% markdown %}
      {% include 'post1.md' %}
      {% endmarkdown %}
    </div>
    <!-- Просто колонка с текстом -->
  </div>

  <!-- Заголовок и колонка с текстом -->
  <div class="textpage__wrapper">
    <div class="textpage__left">
      <h2>Общая литературная ситуация к началу 1910-х годов (заголовок H2)</h2>
    </div>
    <div class="textpage__text">
      {% markdown %}
      {% include 'post2.md' %}
      {% endmarkdown %}
    </div>
    <!-- Заголовок и колонка с текстом -->

    <!-- Слайдер на 3 картинки -->

    <div class="textpage__gallery-slider">
      <div class="textpage__gallery-slider-container">
        <div class="swiper-wrapper">
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img loading="lazy" src="images/gallery-slider-item-1.jpg" alt="">
          </div>
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img loading="lazy" src="images/gallery-slider-item-2.jpg" alt="">
          </div>
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img loading="lazy" src="images/gallery-slider-item-3.jpg" alt="">
          </div>
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img loading="lazy" src="images/gallery-slider-item-1.jpg" alt="">
          </div>
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img loading="lazy" src="images/gallery-slider-item-2.jpg" alt="">
          </div>
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img loading="lazy" src="images/gallery-slider-item-3.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="textpage__gallery-slider-pagination"></div>
      <div class="textpage__gallery-slider-prev">
        <svg width="10" height="30" viewBox="0 0 10 30" xmlns="http://www.w3.org/2000/svg">
          <use href="images/sprite_auto.svg#prev-arrow" />
        </svg>
      </div>
      <div class="textpage__gallery-slider-next">
        <svg width="10" height="30" viewBox="0 0 10 30" xmlns="http://www.w3.org/2000/svg">
          <use href="images/sprite_auto.svg#next-arrow" />
        </svg>
      </div>
    </div>

    <!-- Слайдер на 3 картинки -->

    <div class="textpage__text">
      {% markdown %}
      {% include 'post2-2.md' %}
      {% endmarkdown %}
    </div>
  </div>

  <!-- Заголовок и колонка с текстом -->
  <div class="textpage__wrapper">
    <div class="textpage__left">
      <h2>«Юношеские стихи»
        (1913 - 1915)</h2>
    </div>
    <div class="textpage__text">
      {% markdown %}
      {% include 'post2-2.md' %}
      {% endmarkdown %}
    </div>
  </div>
  <!-- Заголовок и колонка с текстом -->

  <!-- Блок с цитатой -->
  <div class="textpage__cite">
    <div class="textpage__wrapper">
      <div class="textpage__cite-text">
        <p>Могу ли не вспоминать я <br>
          Тот запах White Rose и чая <br>
          И севрские фигурки <br>
          Над пышащим камельком...</p>

        <p>Мы были: я - в пышном платье <br>
          Из чуть золотого фая, <br>
          Вы - в вязаной черной куртке <br>
          С крылатым воротником...</p>
      </div>
    </div>
  </div>
  <!-- Блок с цитатой -->

  <!-- Просто колонка с текстом -->
  <div class="textpage__wrapper">
    <div class="textpage__text">
      {% markdown %}
      {% include 'post2-2.md' %}
      {% endmarkdown %}
    </div>
  </div>
  <!-- Просто колонка с текстом -->

  <!-- Блок с медиаконтентом -->
  <div class="textpage__wrapper  textpage__wrapper--media">
    {% for i in range(0, 2) %}
    <div class="textpage__left">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/sn-S82mF_gw" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="textpage__text">
      <h4><a href="#">Мандельштам. «На розвальнях, уложенных соломой…».</a></h4>
      <p>Как Мандельштам соединяет разные исторические эпохи в стихотворении о Марине Цветаевой.
        Лекция №2 из курса «Русская литература XX века. Сезон 4». Лектор — Олег Лекманов, доктор филологических наук,
        профессор школы филологии факультета гуманитарных наук НИУ ВШЭ.</p>
    </div>
    {% endfor %}
  </div>
  <!-- Блок с медиаконтентом -->

  <!-- Текстовый блок с отступом сверху -->
  <div class="textpage__wrapper  textpage__wrapper--m-top">
    <div class="textpage__text">
      <p>Но затем, от 1916 к 1917 г., последовал новый перелом: враждебная действительность, впущенная в поэзию,
        надвинулась еще ближе, и под ее давлением монолит цветаевской лирики, державшийся единством авторского
        самоутверждения, раскалывается на несколько частей. Воинствующие отклики на современность ложатся отдельно и
        складываются в конце концов в "Лебединый стан". С противоположной стороны ложатся воинствующие выходы из
        современности в то, что Цветаева называла "Романтика". Здесь новым оказывается то, что это не откровенничающая
        лирика, с которой Цветаева начинала ("словно заглянул через окно"), а игровая, ролевая: "я буду Жанной д'Арк, а
        ты Карлом Седьмым", как выразился зоркий на игру П. Антокольский. Такая лирика присутствовала у нее и раньше: по
        существу, это просто из трех разделов "Вечернего альбома" отпал детский, перестроился полудетский и остался
        книжный. Ранняя игровая лирика жила лишь на правах слабого оттенения, а теперь она выступает на первый план,
        перерастает малые формы и выливается в пьесы для вахтанговцев и в "Царь-девицу".</p>
    </div>
  </div>
  <!-- Текстовый блок с отступом сверху -->


  <!-- Текстовый блок с отступом сверху и снизу -->
  <div class="textpage__wrapper  textpage__wrapper--m-top  textpage__wrapper--m-bottom">
    <div class="textpage__text">
      <h3>Дома, в которых жила Марина Цветаева (заголовок H3)</h3>
      <ul>
        <li>
          <p><strong>Москва, Трехпрудный переулок,</strong> 8 (1892—1912) — отчий дом</p>
        </li>
        <li>
          <p><strong>Москва, Борисоглебский переулок,</strong> 6 (1914—1922) </p>
        </li>
        <li>
          <p><strong>Москва, Мерзляковский переулок, 16</strong> (ноябрь—декабрь 1939, сентябрь 1940)</p>
        </li>
        <li>
          <p><strong>Москва, Покровский бульвар, 14/5</strong> (сентябрь 1940 — август 1941) </p>
        </li>
        <li>
          <p><strong>Таруса, Калужская область</strong> (1893—1902, 1906, 1910,1912)</p>
        </li>
        <li>
          <p><strong>Александров, Владимирская область</strong> (лето 1916)</p>
        </li>
        <li>
          <p><strong>Усень-Ивановский завод, Башкирия</strong> (июль — август 1911)</p>
        </li>
      </ul>
    </div>
  </div>
  <!-- Текстовый блок с отступом сверху и снизу -->

  <div class="textpage__wrapper">
    <div class="textpage__text">
      <p>Игра - это означает вещи принципиально разнотемные и разностильные, это как бы реализация того, что ей будто бы
        говорил Волошин: "В тебе материал десяти поэтов и всех замечательных" - и что она потом сама напишет Иваску: "Из
        меня... можно бы выделить... семь поэтов, не говоря о прозаиках". Игра поэтическая и игра театральная - это вещи
        противоположные, поэтому Цветаева так категорически отрекалась от театра в предисловии к "Концу Казановы", и
        поэтому так сразу определилась взаимная неприязнь ее и Вахтангова, для которого игра была делом жизни.
        Противоположность была в том, что для театральной игры главное - действие, а для игры поэтической - состояние.
        Пьесы Цветаевой статичны, это вереницы моментов, каждый из которых порознь раскрывается в монологе, диалоге или
        песне. "Царь-девица" и "Молодец" - это тоже серия неподвижных сцен, серия внутренних ситуаций, каждая из которых
        развернута, а переходы между которыми мгновенны. Вот это - раскрытие момента - и оказалось в эти годы наиболее
        важным опытом для дальнейшей судьбы цветаевской поэтики.</p>
      <p>В самом деле, зажатая между стихами "Лебединого стана" и стихами игровой романтики, как стала разваться у
        Цветаевой лирика в первоначальном, простейшем смысле слова - стихи о себе и от себя, то, что было дневником? В
        том же направлении. День лирического дневника сжимается до момента, впечатление - до образа, мысль - до символа,
        и этот центральный образ начинает развертываться не динамически, а статически, не развиваться, а уточняться. Вот
        первые попавшиеся примеры из самых известных ее стихотворений начала 1920-х гг.</p>
    </div>
  </div>

  <div class="textpage__large-slider">
    <div class="swiper-wrapper">
      <div class="textpage__large-slider-item  swiper-slide"><img loading="lazy" src="images/large-slider-photo.jpg"
          alt=""></div>
      <div class="textpage__large-slider-item  swiper-slide"><img loading="lazy" src="images/large-slider-photo.jpg"
          alt=""></div>
      <div class="textpage__large-slider-item  swiper-slide"><img loading="lazy" src="images/large-slider-photo.jpg"
          alt=""></div>
      <div class="textpage__large-slider-item  swiper-slide"><img loading="lazy" src="images/large-slider-photo.jpg"
          alt=""></div>
    </div>
    <div class="textpage__large-slider-pagination"></div>
    <div class="textpage__large-slider-prev">
      <svg width="10" height="30" viewBox="0 0 10 30" xmlns="http://www.w3.org/2000/svg">
        <use href="images/sprite_auto.svg#prev-arrow" />
      </svg>
    </div>
    <div class="textpage__large-slider-next">
      <svg width="10" height="30" viewBox="0 0 10 30" xmlns="http://www.w3.org/2000/svg">
        <use href="images/sprite_auto.svg#next-arrow" />
      </svg>
    </div>
  </div>

  <div class="textpage__wrapper  textpage__wrapper--m-bottom">
    <div class="textpage__text">
      {% markdown %}
      {% include 'post2-2.md' %}
      {% endmarkdown %}
    </div>
  </div>

  <div class="textpage__wrapper  textpage__wrapper--m-bottom">
    <div class="textpage__text">
      <h3>Цветаевские костры (заголовок H3)</h3>
      <ol>
        <li>
          <p><strong>Таруса. 6 октября 1986 года.</strong> Надежда Загайнова, Александр Ханаков, Надежда
            Шиянова</p>
        </li>
        <li>
          <p><strong>США, Вашингтон, парк Роквилл.</strong> 6 октября 1996 года. Юлий Зыслин</p>
        </li>
        <li>
          <p><strong>Германия, Шварцвальд, гора Тюллинберг, город Лёррах (60 км от Фрайбурга).</strong> 1999
            год, первое воскресенье
            октября. Лилия Цибарт-Фогельзанг, Алена Акатова, Марина Зарецкая</p>
        </li>
        <li>
          <p><strong>Германия, Дрезден.</strong> Первое воскресенье октября 2007 года. Елена Белянинова,
            поддержка – Немецко-русский
            институт культуры (НРИК), доктор Вольфган Шелике</p>
        </li>
        <li>
          <p><strong>Германия, Лейпциг. Первое воскресенье октября 2009 года.</strong> Елена Белянинова</p>
        </li>
        <li>
          <p><strong>Германия, Людвигсбург.</strong> Первое воскресенье октября 2009 года. Елена Гарш</p>
        </li>
        <li>
          <p><strong>Карелия, Петрозаводск.</strong> 31 августа 2001 года. Наталья Васильевна Ларцева</p>
        </li>
      </ol>
    </div>
  </div>

  <div class="textpage__wrapper">
    <div class="textpage__text">
      <p>И такие примеры - опять-таки почти на каждой цветаевской странице, и чем позже, тем чаще.
        Легче всего представить своеобразие этого цветаевского отношения к слову, сопоставив ее с ее антиподом -
        Пастернаком. Поэзия Пастернака - ранняя, прославившая его, - это поэзия случайного, первого подвернувшегося
        слова; отсюда - тот стилистический хаос и то синтаксическое косноязычие, которые ошарашивали его первых
        читателей. Это вызывало ощущение: поэт увлечен такой силой, таким порывом, что ему некогда подыскивать слова и
        следить за правильностью оборотов. ("Сила" - главный критерий Пастернака, когда он судит о достоинствах каких
        угодно стихов.) Конечно, такой порыв требовал мотивировки: в "Сестре моей - жизни" такой мотивировкой была
        любовная страсть, в "Темах и вариациях" - боль разрыва и бред болезни, потом достаточные мотивировки исчерпались
        и начались поиски новой манеры, приведшие к ереси "неслыханной простоты". Аллитерации, под подбор слов по звукам
        у Пастернака так же част, как у Цветаевой, но у него это как бы бессознательная ассоциация, тянущая одно слово
        за другим, а у нее - целенаправленное внедрение именно в это слово с помощью другого. Словесный мир Пастернака -
        это всесливающий первобытный вихрь, словесный мир Цветаевой - это первозданная расчлененность застывших
        платоновских идей, для каждой из которых найдено или будет найдено свое слово.</p>
    </div>

    <div class="textpage__table">
      <table>
        <tr>
          <th>Год</th>
          <th>Название стихотворения</th>
          <th>Размер</th>
          <th>Место</th>
          <th>Жанр</th>
        </tr>
        <tr>
          <td>1913</td>
          <td>«Моим стихам, написанным так рано...»</td>
          <td> Пятистопный ямб</td>
          <td>Коктебель</td>
          <td>Стихотворение</td>
        </tr>
        <tr>
          <td>1923</td>
          <td>«Минута: минущая: минешь!..»</td>
          <td>Четырехстопный ямб</td>
          <td>Прага</td>
          <td>Стихотворение</td>
        </tr>
        <tr>
          <td>1933</td>
          <td>«Стол»</td>
          <td>Логаэд</td>
          <td>Париж</td>
          <td>Цикл</td>
        </tr>
        <tr>
          <td>1913</td>
          <td>«Моим стихам, написанным так рано...»</td>
          <td>Пятистопный ямб</td>
          <td>Коктебель</td>
          <td>Стихотворение</td>
        </tr>
        <tr>
          <td>1923</td>
          <td>«Минута: минущая: минешь!..»</td>
          <td>Четырехстопный ямб</td>
          <td>Прага</td>
          <td>Стихотворение</td>
        </tr>
        <tr>
          <td>1933</td>
          <td>«Стол»</td>
          <td>Логаэд</td>
          <td>Париж</td>
          <td>Цикл</td>
        </tr>
      </table>
    </div>

    <div class="textpage__text">
      <p>"Поэт - издалека заводит речь. Поэта - далеко завовит речь", - писала Цветаева. Следуя логике звукового
        развертыввания слов, Цветаева приходила порой не к тому, к чему предполагала. У нее есть стихотворение 1918 г.,
        начинающееся: "Бог - прав / Тлением трав, / Сухостью рек, / Воплем калек..." и кончающееся: "Попранным Словом, /
        Проклятым годом, / Пленом царевым, / Вставшим народом". Дописав, она ужаснулась этой апологии революции и
        сделала приписку: "NB! Очевидно, нужно понять: Бог все-таки прав, прав - вопреки". Но стихотворения не
        вычеркнула из <a href="#">"Лебединого стана"</a> и не исправила так, чтобы оно недвусмысленно говорило нужное, а
        не противоположное. Для нее это было принципом: слово - свыше, поэт (если он поэт) - лишь писец при нем; и "если
        есть Страшный суд слова - на нем я чиста" ("Искусство при свете совести").</p>
      <p>Я не хочу преувеличивать и утверждать, что вся зрелая и поздняя Цветаева именно такова. Конечно нет; конечно, у
        нее есть и стихи, продолжающие более ранние ее манеры. Но новым и все более важным в ее зрелом и позднем
        творчестве, на разный лад проникающим всю словесную ткань ее поэзии и даже прозы, является, как кажется, именно
        то, что мы здесь попытались определить: сближение слов по звуку и вслушивание в получившийся новый смысл;
        выдвижение слова как образа и нанизывание ассоциаций, уточняющих и обогащающих его старый смысл; рефренное
        словосочетание как композиционная опора, к которой сходятся все темы всех частей стихотворения. Словом
        поверяется тема: созвучность слов становится ручальством истинного соотношения вещей и понятий в мире, как он
        был задуман Богом и искажен человеком. Вот это мы и позволили себе назвать "поэтикой слова" у Марины Цветаевой.
        Но здесь приходится остановиться: анализ этой поэтики слова был бы очень долог и труден, моя же задача здесь
        была лишь подвести к ней: "от поэтики быта к поэтике слова" в творчестве Цветаевой.</p>

      <ul class="download">
        <li class="download__item">
          <p><a href="#">М.Л. Гаспаров «Марина Цветаева. От поэтики быта к поэтике слова», О русской поэзии. Анализы.
              Интерпретации. Характеристики. - СПб., 2001. - С. 136-149 (в формате PDF, 20.14 мб)</a></p>
        </li>
        <li class="download__item">
          <p><a href="#">М.И. Цветаева. Эссе «Мой Пушкин», 1937 (в формате PDF, 10.48 мб)</a></p>
        </li>
      </ul>
    </div>
  </div>

</section>

<section class="collection">
  <div class="collection__wrapper">
    <h2 class="collection__title">Коллекция</h2>

    <ul class="collection__list  collection__list--4-column">
      <li class="collection__item">
        <img loading="lazy" src="images/collection-1.jpg" alt="">
        <p><a href="#">Кофемолка турецкая («турка»), принадлежавшая в 1939 г. семьеМ.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="images/collection-2.jpg" alt="">
        <p><a href="#">Рисунок М.И. Цветаевой, сверху — текст, обращенный к С.Я. Эфрону</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="images/collection-3.jpg" alt="">
        <p><a href="#">Бусы из голубого кварца, принадлежавшие М.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="images/collection-4.jpg" alt="">
        <p><a href="#">Фотография: М.И. Цветаева с дочерью Алей, сделанная в Москве в 1916 г. и подаренная А.
            Штейгеру</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="images/collection-1.jpg" alt="">
        <p><a href="#">Кофемолка турецкая («турка»), принадлежавшая в 1939 г. семьеМ.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="images/collection-2.jpg" alt="">
        <p><a href="#">Рисунок М.И. Цветаевой, сверху — текст, обращенный к С.Я. Эфрону</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="images/collection-3.jpg" alt="">
        <p><a href="#">Бусы из голубого кварца, принадлежавшие М.И. Цветаевой</a></p>
      </li>
      <li class="collection__item">
        <img loading="lazy" src="images/collection-4.jpg" alt="">
        <p><a href="#">Фотография: М.И. Цветаева с дочерью Алей, сделанная в Москве в 1916 г. и подаренная А.
            Штейгеру</a></p>
      </li>
    </ul>
    <div class="collections__links">
      <a class="collection__link" href="#">Показать еще</a>
      <a class="collection__link  collection__link--invert" href="#">Предметы на панораме</a>
    </div>
  </div>
</section>
{% endblock %}
