.breadcrumbs {
  @include wrapper;
  margin-top: 20px;

  @media ($tablet) {
    margin-top: 70px;
  }
}

.breadcrumbs__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  @media ($tablet) {
    max-width: 50%;
  }
}

.breadcrumbs__item {
  padding-right: 2px;
  margin-right: 2px;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000;

  &::before {
    content: "";
    margin-right: 8px;
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #000;

    @media ($tablet) {
      width: 8px;
      height: 8px;
      margin-right: 16px;
    }
  }

  &:first-child {
    &::before {
      display: none;
    }
  }

  &:last-child {
    color: #0aa9be;
    margin-right: 0;
    padding-right: 0;

    &::before {
      background: #0aa9be;
    }
  }

  a {
    color: inherit;
  }

  a[href] {
    &:hover {
      text-decoration: underline;
    }
  }

  @media ($tablet) {
    padding-right: 8px;
    margin-right: 8px;
    font-size: 18px;
    line-height: 32px;
  }
}
