.header {
  position: sticky;
  top: 0;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0 0 40px rgba(83, 229, 248, 0.2);
}

.header__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media ($tablet) {
    padding-top: 47px;
    padding-bottom: 54px;
  }
}

.header__user-block {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 160px;
  order: 2;

  @media ($tablet) {
    margin-top: 0;
  }

  @media ($desktop) {
    order: 3;
    margin-left: 32px;
  }
}

.header__search-form {
  display: none;
}

.header__search {
  position: relative;
  margin-right: 10px;

  &--open {
    .header__search-form {
      display: flex;
      position: absolute;
      right: 0;
      top: -20px;
    }
  }

  @media ($tablet) {
    margin-right: 32px;
  }
}

.header__search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #0aa9be;
  background-color: transparent;
  border: none;
  transition: $transition;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: #000;
  }
}
