.logo {
  order: 1;
  font-style: normal;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  line-height: 16px;

  a {
    color: inherit;
  }

  @media ($tablet) {
    font-size: 18px;
    line-height: 22px;
  }
}

.logo__link {
  @media ($tablet) {
    br {
      display: none;
    }
  }
}
