.vr {
  display: grid;
  margin-bottom: 60px;
  background-color: #694484;

  @media ($tablet) {
    display: grid;
    grid-template-columns: 1.045fr 1fr;
    justify-content: center;
    margin-bottom: 110px;
  }
}

.vr__left {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media ($tablet) {
    order: 1;
  }

  @media ($desktop) {
    padding-left: 110px;
    padding-right: 40px;
    padding-top: 160px;
    padding-bottom: 170px;
  }
}

.vr__text {
  max-width: 830px;
  margin-left: auto;

  p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media ($desktop) {
    margin-bottom: 45px;
    font-size: 22px;
    line-height: 36px;
  }
}

.vr__link {
  min-width: 250px;
  width: 100%;
  padding: 20px 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  border: 2px solid #fff;
  transition: $transition;

  &:hover {
    background-color: #fff;
    color: #694484;
  }

  &--white {
    align-self: flex-end;
    background-color: #fff;
    color: #694484;
    border: 2px solid #694484;

    &:hover {
      background-color: #694484;
      color: #fff;
    }
  }

  @media ($tablet) {
    max-width: max-content;
    padding: 10px 50px;
  }

  @media ($desktop) {
    font-size: 24px;
    line-height: 36px;
  }
}

.vr__right {
  order: -1;
  display: grid;
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-image: url("../images/vr-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background-image: url("../images/vr-bg@2x.jpg");
  }

  @media ($tablet) {
    order: 2;
  }

  @media ($desktop) {
    padding-left: 106px;
    padding-top: 150px;
    padding-bottom: 170px;
  }
}

.vr__title {
  max-width: 620px;
  margin: 0;
  margin-bottom: 108px;
  font-family: $s-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;

  @media ($desktop) {
    margin-bottom: auto;
    font-size: 52px;
    line-height: 72px;
  }
}
