.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $b-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: #fff;
}

.page__main {
  flex-grow: 1;
}
