{% import "partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Primary Meta Tags -->
  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}Description{% endif %}">
  <link rel="preload" href="/fonts/alice-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/montserrat-v15-latin_cyrillic-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/montserrat-v15-latin_cyrillic-700.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/montserrat-v15-latin_cyrillic-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" media="all" href="{{ base_path }}css/style.min.css" />
  <link rel="icon" href="{{ base_path }}favicon/favicon.ico"><!-- 32×32 -->
  <link rel="icon" href="{{ base_path }}favicon/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ base_path }}favicon/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="{{ base_path }}favicon/manifest.webmanifest">
</head>

<body class="page__body">
  {% include '../partials/_header.html' %}

  <!-- BEGIN content -->
  <main class="page__main">
    {% block content %}{% endblock %}
  </main>
  <!-- END content -->

  {% include '../partials/_footer.html' %}

  <!-- BEGIN scripts -->

  {% if map %}

  <!-- <script>
    const geojson = {
      type: 'FeatureCollection',
      features: [
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [-77.032, 38.913]
          },
          properties: {
            title: 'Дом-музей Марины Цветаевой',
            description: 'Москва, Борисоглебский переулок, строение 1',
            type: 'museum'
          }
        },
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [-122.414, 37.776]
          },
          properties: {
            title: 'Дом-музей Марины Цветаевой',
            description: 'Москва, Борисоглебский переулок, строение 1',
            type: 'bonfire'
          }
        },
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [-100.414, 34.776]
          },
          properties: {
            title: 'Дом-музей Марины Цветаевой',
            description: 'Москва, Борисоглебский переулок, строение 1',
            type: 'place'
          }
        }
      ]
    };
  </script> -->


  <script>
    let places = {
      type: 'FeatureCollection',
      features: [
        {
          type: 'Feature',
          properties:
          {
            type: 'museum',
            year: '1892',
            name: 'Дом памяти М.И. Цветаевой в Елабуге',
            subtitle: 'Республика Татарстан, город Елабуга, ул. Малая Покровская, 20',
            info: `
    <table>
            <tr>
              <td>Телефон</td>
              <td>
                <p>+7(85557)7-05-11</p>
              </td>
            </tr>
            <tr>
              <td>Часы работы</td>
              <td>
                <p>ежедневно 09:00–18:00 <br>
                   выходной - понедельник</p>
              </td>
            </tr>
          </table>
          <p>Общая литературная ситуация в передовой поэзии этого времени тоже известна. К 1910 г. завершил свой цикл развития символизм, вожди его перестали быть группой и пошли каждый своим путем; выработанная ими поэтика - очень богатый и пестрый набор образов, эмоций, стиля, стиха - осталась достоянием учеников. Именно набор, а не "система": системой поэтика символизма была только в творчестве каждого отдельного из ведущих поэтов, а для наследников она распалась на кучу приемов, некое стилистическое эсперанто, преимущественно из брюсовских элементов, в котором каждый должен был разбираться по-своему. Это - то, о чем Пастернакак сам принадлежавший к этому поколению и к этой среде, писал потом в юбилейной инвективе Брюсову: "И мы на перья разодрали крылья".</p>

          <div class="mapboxgl__custom-content-links">
            <a href="http//www.elabuga.com" class="mapboxgl__custom-content-link">Сайт музея</a>
            <a href="#" class="mapboxgl__custom-content-link  mapboxgl__custom-content-link--invert">Видеоэкскурсия</a>
          </div>
          `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [52.0720, 55.7550]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'bonfire',
            year: '1999',
            name: 'Германия, Шварцвальд, гора Тюллинберг, город Лёррах',
            subtitle: '1999 год, первое воскресенье октября',
            info: `
          <table>
            <tr>
              <td>Зажгли</td>
              <td>
                <p>Лилия Цибарт-Фогельзанг, Алена Акатова, Марина Зарецкая</p>
              </td>
            </tr>
            <tr>
              <td>История</td>
              <td>
                <p>Семья Цветаевых провела здесь лето 1904 года, а Марина и Ася весь учебный 1904–05 год. Троицины каникулы 1905 года девочки провели в Шёнау, лето 1905 года вся семья жила в Санкт-Блазиене в Шварцвальде.</p>
              </td>
            </tr>
          </table>
          `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [7.6392, 47.6041]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'bonfire',
            year: '1986',
            name: 'Россия, Калужская область, Таруса',
            subtitle: '6 октября 1986 года',
            cityzip: ' ',
            info: `
    <table>
            <tr>
              <td>Зажгли</td>
              <td>
                <p>Надежда Загайнова, Александр Ханаков, Надежда Шиянова</p>
              </td>
            </tr>
          </table>
          `,
          },
          geometry:
          {
            type: 'Point',
            coordinates: [37.1810, 54.7294]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'bonfire',
            year: '1996',
            name: 'США, Вашингтон, парк Рок Крик',
            subtitle: '6 октября 1996 года',
            cityzip: ' ',
            info: `
    <table>
            <tr>
              <td>Зажег</td>
              <td>
                <p>Юлий Зыслин</p>
              </td>
            </tr>
          </table>
          `,
          },
          geometry:
          {
            type: 'Point',
            coordinates: [-77.0462, 38.9626]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'bonfire',
            year: '2007',
            name: 'Австралия, Сидней, Купер-парк',
            subtitle: '7 октября 2007 года',
            cityzip: ' ',
            info: `
    <table>
            <tr>
              <td>Зажгла</td>
              <td>
                <p>Жанна Алифанова</p>
              </td>
            </tr>
          </table>
          `,
          },
          geometry:
          {
            type: 'Point',
            coordinates: [151.2532, -33.8870]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'bonfire',
            year: '2003',
            name: 'Канада, Ванкувер, пригород Ричмонд, парк Гарри поинт',
            subtitle: '26 сентября 2003 года',
            cityzip: ' ',
            info: `
    <table>
            <tr>
              <td>Зажгла</td>
              <td>
                <p>Маргарита Тарсина</p>
              </td>
            </tr>
          </table>
          `,
          },
          geometry:
          {
            type: 'Point',
            coordinates: [-123.1959, 49.1255]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'bonfire',
            year: '2002',
            name: 'Крым, Феодосия',
            subtitle: '6 октября 2002 года',
            cityzip: ' ',
            info: `
    <table>
            <tr>
              <td>Зажгла</td>
              <td>
                <p>Ирина Двойнина</p>
              </td>
            </tr>
          </table>
          `,
          },
          geometry:
          {
            type: 'Point',
            coordinates: [35.3850, 45.0249]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'bonfire',
            year: '2005',
            name: 'Казахстан, Павлодар, ул. Карла Маркса, дом 262',
            subtitle: '1 октября 2005 года',
            cityzip: ' ',
            info: `
    <table>
            <tr>
              <td>Зажгла</td>
              <td>
                <p>Ольга Григорьева</p>
              </td>
            </tr>
      <tr>
              <td>История</td>
              <td>
                <p>В этом доме с 1957 по 1959 год жила А.И. Цветаева в семье сына А.Б. Трухачева</p>
              </td>
            </tr>
          </table>
          `,
          },
          geometry:
          {
            type: 'Point',
            coordinates: [76.9370, 52.2709]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'place',
            year: '1897',
            name: 'Москва, Борисоглебский переулок, 6',
            subtitle: 'Москва, Борисоглебский переулок, 6',
            cityzip: ' ',
            info: `
          <table>
            <tr>
              <td>Зажгли</td>
              <td>
                <p>Надежда Загайнова, Александр Ханаков, Надежда Шиянова.</p>
                <p>Летом 1910 года сестры Цветаевы жили
                  в Дрездене и Вайсер Хирш, пансион «Норвежский дом».</p>
              </td>
            </tr>
            <tr>
              <td>Часы работы</td>
              <td>
                <p>вт, ср 12:00–19:00 <br>
                  чт 12:00–21:00 <br>
                  пт-вс 12:00–19:00</p>
              </td>
            </tr>
          </table>
          `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [-77.032, 38.913]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'place',
            year: '1930',
            name: 'Франция, Медон (пригород Парижа)',
            subtitle: 'март 1927 — март 1932',
            cityzip: ' ',
            info: `
               <p>На протяжении всего 1930 года, находясь в Медоне,  Цветаева посещала «Литературные франко-русские собеседования». В январе участвовала в прениях о Льве Толстом, в  феврале - о Марселе Прусте, выступала на творческом вечере А.Ремизова, в марте – в прениях об Андэ Жиде; в апреле участвовала в собеседовании  русских зарубежных писателей с их французскими коллегами.</p>
          `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [2.2283, 48.7872]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'place',
            year: '1924',
            name: 'Чехия, Вшенори (пригород Праги)',
            subtitle: 'май 1924 — октябрь 1925',
            cityzip: ' ',
            info: `
               <p>Рождение сына Марины Цветаевой</p>
          `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [14.3038, 49.9287]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'place',
            year: '1902',
            name: 'Италия, Нерви',
            subtitle: 'осень 1902 — весна 1903',
            cityzip: ' ',
            info: `
          `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [9.0392, 44.3831]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'place',
            year: '1911',
            name: 'Россия, Башкирия, Усень-Ивановский завод ',
            subtitle: 'июль — август 1911',
            cityzip: ' ',
            info: `
          `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [54.3527, 54.1924]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'place',
            year: '1897',
            name: 'Еще одна замечательная точка',
            subtitle: 'ул. Волхонка, 12',
            cityzip: ' ',
            info: `
          <table>
            <tr>
              <td>Зажгли</td>
              <td>
                <p>Надежда Загайнова, Александр Ханаков, Надежда Шиянова.</p>
                <p>Летом 1910 года сестры Цветаевы жили
                  в Дрездене и Вайсер Хирш, пансион «Норвежский дом».</p>
              </td>
            </tr>
            <tr>
              <td>Часы работы</td>
              <td>
                <p>вт, ср 12:00–19:00 <br>
                  чт 12:00–21:00 <br>
                  пт-вс 12:00–19:00</p>
              </td>
            </tr>
          </table>
          `
          },
          geometry:
          {
            type: 'Point',
            coordinates: [34.032, 51.913]
          }
        },
        {
          type: 'Feature',
          properties:
          {
            type: 'museum',
            year: '1897',
            name: 'Дом-музей Марины Цветаевой',
            subtitle: 'Москва, Борисоглебский переулок, 6',
            cityzip: ' ',
            info: `
          <table>
            <tr>
              <td>Телефоны</td>
              <td>
                <p>+7 (495) 695-35-43, <br>
           +7 (495) 697-53-69, <br>
         +7 (905) 584-84-90, <br>
         +7 (495) 697-61-94,<br>
         +7 (495) 697-80-51</p>
              </td>
            </tr>
            <tr>
              <td>Часы работы</td>
              <td>
                <p>вт, ср 12:00–19:00 <br>
                  чт 12:00–21:00 <br>
                  пт-вс 12:00–19:00</p>
              </td>
            </tr>
          </table>
    <div class="mapboxgl__custom-content-links">
            <a href="https://dommuseum.ru/" class="mapboxgl__custom-content-link">Сайт музея</a>
            <a href="#" class="mapboxgl__custom-content-link  mapboxgl__custom-content-link--invert">Видеоэкскурсия</a>
          </div>
          `,
            imagetmb: 'https://www.mos.ru/upload/newsfeed/newsfeed/vn1(810).JPG',
            image: 'https://www.mos.ru/upload/newsfeed/newsfeed/vn1(810).JPG',
          },
          geometry:
          {
            type: 'Point',
            coordinates: [37.5901, 55.7541]
          }
        }]
    };

  </script>





  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
  {% endif %}
  <script src="{{ base_path }}js/main.min.js"></script>
  <!-- END scripts -->

</body>

</html>
